.DS_STORE

# Compiled python
.pyc

# Temp files
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# Sublime text workspaces
*.sublime-workspace

# Fabric command line tools
fabfile.*

# Archive of older versions of website, design files
archive/*.*