<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Amiri|Trocchi" rel="stylesheet">
    <!-- Custom CSS styles -->
    <link href="{{url_for('static', filename='styles/singlepayer.css')}}" rel="stylesheet">
    <title>Single-payer costs</title>
  </head>
  <body>
    
    <div id="greetings">
      <h1>Greetings!</h1>
      <p> In this website, we'll help you compare what you pay now for health care (premiums and other costs) to what you'd pay under single payer. It’s just a few questions ... let's get started.</p>
      <p> Note: currently still in development. No calculator currently available. </p>
    </div>
    <!-- <div id="button">
      <a href="/questions">
        <input class="btn btn-primary" type="submit" value="Start calculating">
      </a>
    </div> -->
    
    <div class="album bg-people">
      <img src="static/imgs/people.svg">
    </div>
    <div class="album py-5 bg-blue"> </div>
    <div class="album py-5 bg-dark-blue">
      <div class="container footer">
        <div class="row">
          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> About </li>
              <li class="list-group-item"> Contact </li>
              <li class="list-group-item"> Link </li>
            </ul>
          </div>
          <div class="col-6">
          </div>
          <div class="col" id="octoholder">
            <img src="{{url_for('static', filename='imgs/octo.svg')}}" id="octocat_img">
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>